<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit post</title>
    <style>
        a{
            text-decoration: none;
            color: white;
        }
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
            padding: 20px;
        }
        h2 {
            text-align: center;
            color: #4CAF50;
            margin-bottom: 30px;
        }
        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            max-width: 800px;
            margin: 0 auto;
        }
        input[type="text"], textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 1em;
            margin-bottom: 20px;
            box-sizing: border-box;
        }
        textarea {
            resize: vertical;
            max-height: 250px;
        }
        button {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1em;
            display: block;
            margin: 0 auto;
            width: 100%;
            max-width: 150px;
            text-align: center;
        }
        button:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
    <h2>Uredi svoj post</h2>
    <form method="post" action="/posts/<%=id%>?_method=PATCH">
        <textarea type="text" id="title" name="title"><%=title.trim()%></textarea>
        <textarea name="text" id="text" rows="20" cols="150"><%=text.trim()%></textarea>
        <button>Izmeni</button>
    </form>
    <button><a href="/posts">Vrati se nazad</a></button>
</body>
</html>