<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8d7da;
            color: #721c24;
            text-align: center;
            padding: 50px;
        }
        h1 {
            font-size: 2em;
            margin-bottom: 20px;
            color: #721c24;
        }
        button {
            background-color: #f5c6cb;
            color: #721c24;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1em;
            text-decoration: none;
        }
        button a {
            color: #721c24;
            text-decoration: none;
        }
        button:hover {
            background-color: #f1b0b7;
        }
    </style>
</head>
<body>
    <h1>Izvinite, ali ta aktivnost nije moguca!</h1>
    <button><a href="/posts">Vrati se nazad</a></button>
</body>
</html>